.blog-post-box {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: rgb(43, 165, 202); /* Set background color to white */
}

.blog-post-content {
  color: white; /* Set text color to white */
}
